<div class="landing_box">
	<div class="center">
		<h1 id="main_header"> Welcome! </h1>
			<div>
				<%= link_to "Sign-Up", new_user_path %> </br>
			</div>
			<div>
				<%= link_to "Log-In", sessions_new_path %>
			</div>
	</div>
</div>