<div class="landing_box">
	<div class="center">
		<h1 id="main_header"> Welcome! </h1>
			<div class="button">
				<%= link_to "Sign-Up", new_user_path %> </br>
			</div>
			<div class="button">
			<%= link_to "Log-In", new_session_path %> </br>
			</div>
	</div>
</div>