/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,body {
	text-align: center;
	font-family: sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.options_1{
	background-color: #fff;
  border-radius: 3px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.3;
  text-align: center;
  letter-spacing: normal;
  width:220px;
  height:30px;
  font-size: 20px;
  margin:auto;
  margin-top:40px;
  margin-bottom: 10px;
}

.options_2{
	background-color: #fff;
  border-radius: 3px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.3;
  text-align: center;
  letter-spacing: normal;
  width:100px;
  height:30px;
  font-size: 20px;
  margin:auto;
  margin-bottom: 10px;
}

.center {
	background-color: rgba(159, 222, 251);
	padding-top:5px;
}

.landing_box {
	height:150px;
	width:400px; 
	background-color: rgba(3, 169, 244, 0.38);
	border-radius: 15px;
	position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.blue_box_3{
	height:150px;
	width:400px; 
	background-color: rgba(3, 169, 244, 0.38);
	border-radius: 15px;
	position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.blue_box{
	height:200px;
	width:400px; 
	background-color: rgba(3, 169, 244, 0.38);
	border-radius: 15px;
	position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.blue_box_2{
	height:350px;
	width:350px; 
	background-color: rgba(3, 169, 244, 0.38);
	border-radius: 15px;
	position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.blue_box_4{
	height:350px;
	width:350px; 
	background-color: rgba(3, 169, 244, 0.38);
	border-radius: 15px;
	position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.button {
	  background-color: #fff;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
    letter-spacing: normal;
    width:60px;
    margin:auto;
    margin-bottom: 10px;
  }