<h1>Book New Appointment</h1>
  <%= form_for @appointments do |f| %>
    <div class="form">
    
       <div>
        <%= f.label :notes %><br>
        <%= f.text_field :notes %>
      </div>
    </div>
    <div class="button"><%= f.submit "Book Appointment" %></div>
  <% end %>